name: ci

on:
  push:
    branches:
      - staging
      - production
  pull_request:
    branches:
      - staging

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and export
        uses: docker/build-push-action@v5
        with:
          context: .
          tags: good-pr:latest
          outputs: type=docker,dest=/tmp/good-pr.tar

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: good-pr
          path: /tmp/good-pr.tar

  use:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: good-pr
          path: /tmp
      - name: Load image
        run: |
          docker load --input /tmp/good-pr.tar
          docker image ls -a
